{% extends 'base.html.twig' %}

{% block title %}Nos Rayons{% endblock %}

{% block body %}


    <div class="card col-md-6 offset-3">
        <div class="card-header">
            <a class="btn-back text-secondary" href='{{ path('app_default_index') }}'>
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-store"></i>
                Boutique	{{ categories|length }}	rayon(s) proposé(s) 	</h3>
        </div>
        <div class="card-body">
                {% for item in categories %}
                    <div class="card clickable" onclick="location = '{{ path('app_boutique_rayon',{'idCategorie':item.id}) }}'">
                        <img src="http://localhost:8000/{{ item.visuel}}" class="card-img" alt="logo {{ item.libelle }}">
                        <div class="card-body">
                            <h1 class="card-title">
                                {{ item.libelle }}</h1>
                            <p> {{ item.texte }} </p>
                        </div>
                    </div>

                {% endfor %}

        </div>
    </div>
{% endblock %}
