{% extends 'base.html.twig' %}

{% block title %}Rayon {{ categorie.libelle }}{% endblock %}

{% block body %}

    <div class="card col-md-6 offset-3">
        <div class="card-header">
            <a class="btn-back text-secondary" href='{{ path('app_boutique_index') }}'>
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-store"></i>
                Boutique	{{ produits|length }}	fruit(s) proposé(s) 	</h3>
        </div>
        <div class="card-body">
            {% for produit in produits %}
                <div class="card clickable" onclick="location = '{{ path('app_boutique_rayon',{'idCategorie':categorie.id}) }}'">
                    <img src="http://localhost:8000/{{ produit.visuel}}" class="card-img" alt="logo {{ produit.libelle }}">
                    <div class="card-body">
                        <h1 class="card-title">
                            {{ produit.libelle }}</h1>
                        <p> {{ produit.texte }} </p>
                        <span class="badge badge-primary">
                            <i class="fas fa-cart-plus"></i>
                            {% trans %} boutique.rayon.prix {% endtrans %}
                        </span>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}
