{# barre de navigation  #}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="{{ path("app_default_index") }}">
		<i class="fas fa-home"></i>
		Accueil Boutique
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_boutique_index") }}">
					<i class="fas fa-store"></i>
					{% trans %} navbar.boutique {% endtrans %}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_default_contact") }}">
					<i class="fas fa-comments"></i>
                    {% trans %} navbar.contact {% endtrans %}
				</a>
			</li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_panier_index") }}">
                    <i class="fas fa-shopping-cart"></i> Produits

                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownUsager" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {% if app.user %}
                        <i class="fas fa-user"></i> {{ app.user.prenom }}
                    {% else %}
                        <i class="fas fa-user"></i>Usager
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownUsager">
                    {% if not is_granted('ROLE_CLIENT') %}
                        <a class="dropdown-item" href="{{ path('app_usager_new') }}">Inscription</a>
                        <a class="dropdown-item" href="{{ path('app_login') }}">Authentification</a>
                    {% endif %}
                    {% if is_granted('ROLE_CLIENT') %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        <a class="dropdown-item" href="{{ path('app_usager_index') }}">Accueil</a>
                    {% endif %}
                </div>
            </li>
			{# TODO : ajouter au fil des TPs les autres éléments du menu #}
		</ul>

		<!-- Début champ de recherche -->
		{# TODO #}
        <div class="d-flex">
            <input id="champRecherche" class="form-control me-2" type="text" placeholder="Chercher produit(s)...">
            <button class="btn btn-outline-success" id="btnRecherche">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <!-- Fin champ de recherche -->
		<!-- Début menu des monnaies -->
		{# TODO #}
		<!-- Fin menu des monnaies -->
		<!-- Début menu des langues -->
		{# TODO #}
        <label>
            <select onchange="window.location.href=this.value">
                {% set locale = app.request.attributes.get('_locale') %}
                {% set route = app.request.attributes.get('_route') %}
                {% set params = app.request.attributes.get('_route_params') %}

                {% for uneLocale in supported_locales | split('|') %}
                    {% set params = params | merge({'_locale': uneLocale }) %}
                <option value="{{ path(route, params) }}" {% if uneLocale == locale %} selected{% endif %}>{{ uneLocale }} </option>
                {% endfor %}
            </select>
        </label>
        <!-- Fin Menu des langues -->
	</div>
</nav>
